/* JavaFX CSS - Leave this comment until you have at least created one rule which uses -fx-Property */

* {
	-primary-raw: #039be5;
	-primary: -primary-raw;
	-light-text: #e1f5fe;
	-dark-text: #000000;
	-background: #263238;
	-error: #ff2040;
	-background-lighter: #455a64;
	-background-darker: #222d32;
	-analogous: #00ff44;

}

.label {
	-fx-text-fill: -light-text;
}
.errorLabel{
	-fx-text-fill: -error;
}

.jfx-button {
	-fx-text-fill: -dark-text;
	-fx-background-color: -primary;
	-jfx-button-type: RAISED;
}

.copy-button {
	-fx-background-color: transparent;
}
.close-button {
	-fx-background-color: -error;
	-fx-background-radius: 90;
	-fx-min-height: 15px;
	-fx-max-height: 15px;
	-fx-min-width: 15px;
	-fx-max-width: 15px;
	/*
	-fx-background-image: url('../x2.png');
	-fx-background-size: 10px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	 */
}

.show-button .label{
	-fx-text-fill: -dark-text;
}
.jfx-text-field, .jfx-password-field, .jfx-text-area{
	-fx-text-fill: -light-text;
	-jfx-unfocus-color: -background-lighter;
	-jfx-focus-color: -primary;
}
.text-area {
	-fx-text-fill: -light-text;
	-fx-background-color: -background-darker;
	-fx-background-radius: 5;
	-fx-border-color: transparent;
}
.text-area .content {
	-fx-background-color: -background-darker;
	-fx-background-radius: 0;

}

.jfx-toggle-node {
	-jfx-toggle-line-color: -dark-text;
	-jfx-untoggle-line-color: -dark-text;
	-jfx-untoggle-color: -primary-raw;
	-jfx-toggle-color: -analogous;
}

.background {
	-fx-background-color: -primary,-background;
	-fx-background-insets: 0, 3;
	-fx-background-radius: 6, 6;
}

.progress-bar .bar {
	-fx-background-color: -analogous;
}

.progress-bar .track {
	-fx-background-color: -background-darker;
}

.copy-timer .track {
	-fx-background-color: -primary;
}
.jfx-list-view{
	-fx-background-radius: 5;
	-fx-background-color: -background-darker;
	-fx-text-fill: -light-text;
	-fx-max-width: 400px;
}

.jfx-list-view .list-cell {
	-fx-background-color: -background-darker;
	-fx-background-radius: 5;
	-fx-text-fill: -light-text;
	/* 
	-fx-border-style: solid;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #455a64;
	 * */
}


.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button,
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow,
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
	-fx-background-color: -primary;
	-fx-text-fill: -dark-text;
}
.scroll-bar .track {
	-fx-background-color: -background-darker;
}
.scroll-bar .thumb {
	-fx-background-color: -primary;
}
.scroll-bar {
	-fx-background-color: -background-darker;

}
.scroll-bar .filler,
.scroll-bar .corner{
	-fx-background-color: -background-darker;
}
.jfx-combo-box {
	-jfx-focus-color: transparent;
	-jfx-unfocus-color: transparent;
	-fx-background-radius: 5;
	-fx-background-color: -primary;
}

.jfx-combo-box .list-cell{
	-fx-text-fill: -light-text;
	-fx-background-color: -background-darker;
	-fx-background-radius: 4;
}

.jfx-combo-box .list-view {
	-fx-background-color: -primary;
	-fx-border-color: -primary;
	-fx-max-width: 400px;
}
.multi-selection-combo-box {
	-jfx-focus-color: transparent;
	-jfx-unfocus-color: transparent;
	-fx-background-radius: 5;
	-fx-background-color: -primary;
}

.multi-selection-combo-box .list-cell{
	-fx-text-fill: -light-text;
	-fx-background-color: -background-darker;
	-fx-background-radius: 4;
}
.multi-selection-combo-box .list-view {
	-fx-background-color: -primary;
	-fx-border-radius: 5;
	-fx-border-color: -primary;
    -fx-focus-traversable: false;
	-fx-max-width: 300px;
}

.jfx-check-box {
	-fx-text-fill: -light-text;
	-jfx-checked-color: -analogous;
	-jfx-unchecked-color: -light-text;
}

.spinner {
	-fx-text-fill: -light-text;
	-fx-background-color: -primary;
}

.spinner .text-field {
	-fx-text-fill: -light-text;
	-fx-background-color: -background-darker;
	-fx-border-color: transparent;
}

.list-view .list-cell:selected {
	-fx-border-color: -primary;
	-fx-border-radius: 5px;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
	-fx-background-color: transparent;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
	-fx-background-color: -dark-text;
}


.rectangle {
	-fx-stroke: -primary;
}

.jfx-list-view .list-cell:selected.reminder-on-list-cell  {
	-fx-border-color: -error !important;
}

.jfx-list-view .list-cell.reminder-on-list-cell  {
	-fx-text-fill: -error;
}

.arrow {
	-fx-background-color: -dark-text;
}
