* {
    -primary-raw: #888888;
    -primary: -primary-raw;
    -light-text: #ffffff;
    -dark-text: #000000;
    -error: #aaaaaa;
    -background: #202020;
    -background-lighter: #404040;
    -background-darker: #101010;
    -analogous: #686868;
}

.background {
    -fx-background-image: url('../textures/minecraft/spruce.png');
    -fx-background-size: 64px;
    -fx-background-repeat: repeat;
    -fx-background-position: center;
    -fx-background-radius: 0px;
    -fx-border-image-source: url('../textures/minecraft/stone.png');
    -fx-border-width: 4px;
}

.button {
    -fx-background-image: url('../textures/minecraft/stone.png');
    -fx-background-size: 64px;
    -fx-background-repeat: repeat;
    -fx-background-position: center;
    -fx-background-radius: 0px;
}

.close-button {
    -fx-background-image: url('../textures/minecraft/redstone_block.png');
    -fx-background-size: 16px;
    -fx-background-repeat: repeat;
    -fx-background-position: center;
    -fx-background-radius: 0px;
}

.progress-bar .bar {
    -fx-background-image: url('../textures/minecraft/lava.png');
    -fx-background-size: 800px 40px;
    -fx-background-repeat: repeat;
    -fx-background-position: center;
    -fx-background-radius: 0px;
    -fx-border-color: transparent;
}

.jfx-check-box {
    -jfx-checked-color: -analogous;
    -jfx-unchecked-color: -light-text;
}

.copy-button {
    -fx-background-color: transparent;
}

.spinner {
    -fx-text-fill: -light-text;
    -fx-background-image: url('../textures/minecraft/stone.png');
}

.jfx-combo-box {
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
    -fx-background-radius: 5;
    -fx-background-image: url('../textures/minecraft/stone.png');
}

.jfx-list-view,
.jfx-text-field, .jfx-password-field, .jfx-text-area{
    -fx-background-image: url('../textures/minecraft/obsidian.png');
    -fx-background-size: 64px;
    -fx-background-repeat: repeat;
    -fx-background-position: center;
    -fx-background-radius: 0px;
    -fx-border-width: 1px;
    -fx-border-color: #ffffff;
}

.jfx-list-view .list-cell {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-text-fill: -light-text;
}

