/* JavaFX CSS - Leave this comment until you have at least created one rule which uses -fx-Property */

.text-area *.text {
    -fx-text-alignment: center;
}

.button {
	-fx-background-color: #aaaaaa;
}	

.jfx-toggle-node {
	-jfx-toggle-color: green;
}